<!DOCTYPE html>
<html>
<body>

<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(redirectToMap);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function redirectToMap(position) {
  window.location.href = "/?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude;
}
</script>

</body>
</html>

